<!--The content below is only a placeholder and can be replaced.-->
<div class="container card-body">
  <span *ngFor="let d of gg">
    <span *ngIf="d == 4 || d == 7">
      <br/>
    </span>
    <button id="d" style="padding: 3%"

    type="button"
    (click)="cambiar(d)">
     <i [ngClass]="d == 1 ? lista.x : null || d == 2 ? lista.w : null
     || d == 3 ? lista.v : null || d == 4 ? lista.a : null
     || d == 5 ? lista.b : null || d == 6 ? lista.c : null
     || d == 7 ? lista.d : null || d == 8 ? lista.e : null
     || d == 9 ? lista.f : null "></i>
    </button>
  </span>
</div>
